@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

canvas {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
}

body{
    overflow: hidden;
    background: #11111f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paraTrilha{
    position: fixed;
    right: 30px;
    top: 30px;
    color: white;
    background: transparent;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

#ativarTrilha {
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    color: white;
    background: transparent;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

section{
    overflow: hidden;
}

#about, #project{
    position: fixed;
    bottom: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    z-index: 999;
    background: #00000096;
    backdrop-filter: blur(10px);
    transition: .2s;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

#inicio{
    position: fixed;
    bottom: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    z-index: 999;
    background-image: url(./img/attack-on-titan-wings-of-freedom-fan-art-brompycxfsjoesav.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    transition: .2s;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

#projetos{
    pointer-events: all;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

#projetos i{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

#projetos i:hover {
    color: #ffee00;
}

#contact.ativo, #inicio.ativo, #about.ativo, #project.ativo {
    pointer-events: all;
    color: #d2f3fc;
    width: 95%;
    height: 100vh;
    animation: entrada .5s linear;
}

.fechar{
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.fechar:hover{
    color: red;
    border: 2px solid red;
}

@keyframes entrada{
    0%{
        width: 0;
        height: 0;
    }

    100%{
        width: 100%;
        height: 100vh;
    }
}

.title{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color: white;
}

#home, #contato, #projetos, #sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
}

#sobre{
    padding-bottom: 40px;
}

#home p,
#contato p,
#projetos p,
#sobre p{
    color: white;
    cursor: pointer;
    padding-bottom: 150px;
    padding-left: 30px;
    padding-right: 30px;
    background: transparent;
    border: none;
    transition: .3s;
}

#home button,
#contato button,
#sobre button{
    pointer-events: all;
    cursor: pointer;
    background: #c4c4c446;
    backdrop-filter: blur(20px);
    border: none;
    padding: 10px 20px;
    box-shadow: 1px 5px 10px #000000c0;
    border-radius: 10px;
    margin-bottom: 10px;
    display: none;
    transition: .3s;
}

#home button:hover,
#contato button:hover,
#projetos button:hover,
#sobre button:hover {
    color: #adff2f;
}

#home button.ativo,
#contato button.ativo,
#projetos button.ativo,
#sobre button.ativo{
    display: block;
    animation: aparece .3s linear;
    transition: .3s;
}

@keyframes aparece{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.projetosImg{
    width: 300px;
}

#projetoOne{
    pointer-events: all;
    width: 250px;
    height: 170px;
    cursor: pointer;
    color: #def0f5;
}

.conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: aparecer .5s linear;
    background: #000000b7;
    border-radius: 10px;
    padding: 10px;
}

@keyframes aparecer{
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }

    50%{
        transform: translateX(30px);
        opacity: 1;
    }

    100%{
        transform: translateX(0px);
    }
}

.conteudo a{
    padding: 7px 20px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px black;
    margin-top: 20px;
    color: white;
}

.conteudo p{
    font-size: 15px;
    line-height: 1.4;
}

.vozSkills{
    pointer-events: all;
    width: 85%;
    height: 60px;
    cursor: pointer;
}

.skillsContent{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    margin-top: 20px;
}

.skillsContent img{
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: .2s;
}

.skillsContent img:hover{
    transform: scale(1.1);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0e0e0e;
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 0 10px;
}

.icon{
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.icon img{
    width: 40px;
    margin-right: 20px;
}

.iconeRede{
    display: flex;
    align-items: center;
}

.iconeRede img{
    width: 30px;
    margin-left: 20px;
}

#contact{
    background-image: url(./img/livro_Aberto.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    position: fixed;
    bottom: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    z-index: 999;
    transition: .2s;
    overflow: hidden;
}

.title-contact{
    width: 60%;
    margin-bottom: 30px;
    text-align: left;
    color: black;
}

.title-contact h1{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#contact-form {
    width: 60%;
}

.input-box {
    display: flex;
}

.input-field {
    width: 50%;
    margin-right: 50px;
}

.input-field:last-child{
    margin-right: 0;
}

.input-field input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    background: transparent;
    color: black;
    transition: .4s;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

.textarea-field {
    width: 47%;
}

.textarea-field textarea {
    width: 100%;
    height: 150px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    outline: none;
    color: black;
    margin-bottom: 10px;
    transition: .4s;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

.btn button {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.btn button:hover {
    border: 1px solid black;
}

.btn .logo-enviar {
    position: absolute;
    opacity: 0;
    transition: .4s;
}

.btn .texto {
    position: absolute;
    transition: .4s;
    opacity: 1;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.btn button:hover .texto {
    opacity: 0;
}

.btn button:hover .logo-enviar {
    opacity: 1;
    color: black;
}