@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Caveat:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

canvas {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
}

body{
    overflow: hidden;
    background: #11111f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paraTrilha{
    display: none;
    position: fixed;
    right: 30px;
    top: 30px;
    color: white;
    background: transparent;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

#ativarTrilha {
    position: fixed;
    right: 30px;
    top: 30px;
    color: white;
    background: transparent;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

section{
    overflow: hidden;
}

#inicio{
    position: fixed;
    display: none;
    bottom: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    z-index: 999;
    background-image: url(./img/attack-on-titan-wings-of-freedom-fan-art-brompycxfsjoesav.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    transition: .2s;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

#projetos{
    pointer-events: all;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

#about{
    position: fixed;
    display: none;
    bottom: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    z-index: 999;
    background: #000000d3;
    backdrop-filter: blur(10px);
    transition: .2s;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    overflow-y: scroll;
}

#projetos i{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding-bottom: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

#projetos i:hover {
    color: #ffee00;
}

.fechar{
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.fechar:hover{
    color: red;
    border: 2px solid red;
}

@keyframes entrada{
    0%{
        width: 0;
        height: 0;
    }

    100%{
        width: 100%;
        height: 100vh;
    }
}

.title{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color: white;
}

#home, #contato, #projetos, #sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
}

#sobre{
    padding-bottom: 40px;
}

#home p,
#contato p,
#projetos p,
#sobre p{
    color: white;
    cursor: pointer;
    padding-bottom: 150px;
    padding-left: 30px;
    padding-right: 30px;
    background: transparent;
    border: none;
    transition: .3s;
}

#home button,
#contato button,
#sobre button{
    pointer-events: all;
    cursor: pointer;
    background: #c4c4c446;
    color: white;
    backdrop-filter: blur(20px);
    border: none;
    padding: 10px 20px;
    box-shadow: 1px 5px 10px #000000c0;
    border-radius: 10px;
    margin-bottom: 10px;
    display: none;
    transition: .3s;
}

#home button:hover,
#contato button:hover,
#projetos button:hover,
#sobre button:hover {
    color: #242424;
    background: #bdbdbd;
}

#home button.ativo,
#contato button.ativo,
#projetos button.ativo,
#sobre button.ativo{
    display: block;
    animation: aparece .3s linear;
    transition: .3s;
}

@keyframes aparece{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.projetosImg{
    width: 300px;
}

#projetoOne{
    pointer-events: all;
    width: 250px;
    height: 170px;
    cursor: pointer;
    color: #def0f5;
}

.conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: aparecer .5s linear;
    background: #000000b7;
    border-radius: 10px;
    padding: 10px;
}

@keyframes aparecer{
    0%{
        transform: translateX(-20px);
        opacity: 0;
    }

    50%{
        transform: translateX(30px);
        opacity: 1;
    }

    100%{
        transform: translateX(0px);
    }
}

.conteudo a{
    padding: 7px 20px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px black;
    margin-top: 20px;
    color: white;
}

.conteudo p{
    font-size: 15px;
    line-height: 1.4;
}

.vozSkills{
    pointer-events: all;
    width: 85%;
    height: 60px;
    cursor: pointer;
}

.skillsContent{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    margin-top: 20px;
}

.skillsContent img{
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: .2s;
}

.skillsContent img:hover{
    transform: scale(1.1);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0e0e0e;
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 0 10px;
}

.icon{
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.icon img{
    width: 40px;
    margin-right: 20px;
}

.iconeRede{
    display: flex;
    align-items: center;
}

.iconeRede img{
    width: 30px;
    margin-left: 20px;
}

#contact{
    background-image: url(./img/livro_Aberto.png);
    background-position: center;
    background-size: cover;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    position: fixed;
    bottom: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    z-index: 999;
    transition: .2s;
    overflow: hidden;
}

.title-contact{
    width: 60%;
    margin-bottom: 30px;
    text-align: left;
    color: black;
}

.title-contact h1{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#contact-form {
    width: 60%;
}

.input-box {
    display: flex;
}

.input-field {
    width: 50%;
    margin-right: 50px;
}

.input-field:last-child{
    margin-right: 0;
}

.input-field input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    background: transparent;
    color: black;
    transition: .4s;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

.textarea-field {
    width: 47%;
}

.textarea-field textarea {
    width: 100%;
    height: 150px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    outline: none;
    color: black;
    margin-bottom: 10px;
    transition: .4s;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 20px;
}

.btn button {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.btn button:hover {
    border: 1px solid black;
}

.btn .logo-enviar {
    position: absolute;
    opacity: 0;
    transition: .4s;
}

.btn .texto {
    position: absolute;
    transition: .4s;
    opacity: 1;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.btn button:hover .texto {
    opacity: 0;
}

.btn button:hover .logo-enviar {
    opacity: 1;
    color: black;
}

.eu {
    width: 100%;
    perspective: 40vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --ratio-x {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --ratio-y {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --ratio-reflection {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --deg {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
}

@property --start {
    syntax: "<color>";
    inherits: true;
    initial-value: #75e4ee;
}

@property --end {
    syntax: "<color>";
    inherits: true;
    initial-value: #f85fbe;
}

:root {
    --labs-sys-color-surface: #444;
    --labs-sys-color-on-surface: hsl(0, 100%, 0%);
    --labs-sys-color-background: #333;
    --labs-sys-radius-surface: 0.5vmin;
    --labs-url-avatar: url(https://gravatar.com/avatar/bdf3dd08b9c2a5f3792dd103a192a765?size=300);
}

.avatar {
    width: 100%;
    aspect-ratio: 3/4;
    border-radius: inherit;
}

.avatar img {
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    height: 100%;
}

.card {
    --start: #00a7e9;
    --end: #f85fbe;
    --deg: 45deg;
    --ratio-x: 0.8;
    --ratio-y: 0.4;
    padding: 2vmin;
    width: 32vmin;
    background: url(https://assets.codepen.io/907471/noise.svg), linear-gradient(var(--deg), var(--start), var(--end));
    animation: surface 10s linear infinite;
    color: var(--labs-sys-color-on-surface);
    border-radius: 2vmin;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s linear;
    transform: rotateY(calc(-5deg * var(--ratio-x))) rotateX(calc(5deg * var(--ratio-y)));
    box-shadow: 0 0 0 0.25vmin #ffffff1a, 0 0 0 2vmin #ffffff1a;
}

.card:before {
    content: "";
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    --ratio-reflection: var(--ratio-x);
    transition: all 0.2s linear;
    mix-blend-mode: soft-light;
    pointer-events: none;
    z-index: 111;
}

.card:after {
    --ratio-reflection: var(--ratio-y);
    content: "";
    border-radius: 3.4vmin;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-145deg,
            transparent 0%,
            #ffffffe6 calc(var(--ratio-reflection) * 35%),
            #ff00ff1a calc(var(--ratio-reflection) * 65%),
            transparent 80%);
    transition: all 0.2s linear;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.4;
    z-index: 111;
    transform: scale(1.1);
}

.card.rotate {
    animation: surface 10s linear infinite, rotate 6s linear infinite;
}

@keyframes rotate {
    from {
        --ratio-x: 1.2;
        --ratio-y: 1.2;
    }

    50% {
        --ratio-x: -0.6;
        --ratio-y: -1;
    }

    to {
        --ratio-x: 1.2;
        --ratio-y: 1.2;
    }
}

@keyframes surface {
    from {
        --deg: 45deg;
        --start: #75e4ee;
        --end: #f85fbe;
    }

    30% {
        --deg: 285deg;
        --start: #75e4ee;
        --end: #75e4ee;
    }

    50% {
        --deg: 145deg;
        --start: #eeda75;
        --end: #805ff8;
    }

    70% {
        --deg: 345deg;
        --start: #ee75d2;
        --end: #5ff8e6;
    }

    from {
        --deg: 45deg;
        --start: #75e4ee;
        --end: #f85fbe;
    }
}

.ficha {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.ficha p {
    margin-bottom: 30px;
    font-size: 18px;
}

.ficha p:last-child {
    margin-bottom: 0;
}

.ficha p strong {
    color: #ffffffa1;
}

.services-content {
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 4% 12% 0 12%;
}

.service {
    position: relative;
    height: 390px;
    width: 39%;
    margin: 1.5%;
    margin-bottom: 60px;
    background-color: #191919;
    display: inline-block;
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
}

.service-img {
    text-align: center;
    overflow-x: hidden;
}

.service-img img {
    display: inline-block;
    width: 80px;
    z-index: 2;
    position: relative;
    margin: 20px;
    border-radius: 30%;
    padding: 10px;
    background: #464646;
    height: 90px;
    transition: all .8s ease;
}

.service-description {
    color: white;
    background: transparent;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.service-description h2 {
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    font-size: 25px;
}

.service-description p {
    padding: 10px;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.3;
    opacity: .8;
}

#services {
    position: relative;
}

.services-heading {
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-weight: 900;
    margin-top: 50px;
}

.services-heading-one {
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #ffffffaf;
    font-weight: 900;
    margin-bottom: 50px;
}

.services-heading-one span {
    color: #ffffff73;
}

.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
}

.titulo-box {
    width: 50%;
    pointer-events: none;
}

.titulo-box h2 {
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}

.titulo-box p {
    color: #ffffff83;
    margin-bottom: 30px;
    line-height: 1.5;
}

.titulo-box p strong {
    color: #ffffffad;
}

.contrib {
    display: flex;
}

.contrib-box {
    width: 100px;
    margin-right: 10px;
}

.contrib-box h3 {
    color: #00c3ff;
}

#contact.ativo{
    pointer-events: all;
    display: flex;
    color: #d2f3fc;
    width: 95%;
    height: 100vh;
    animation: entrada .5s linear;
}

#inicio.ativo,
#about.ativo {
    pointer-events: all;
    display: block;
    color: #d2f3fc;
    width: 95%;
    height: 100vh;
    animation: entrada .5s linear;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #242424;
    z-index: 99999;
}

.loader .title {
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    font-family: arial;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

/*Loader Pin*/
.loader-pin {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 40px;
    box-sizing: border-box;
    position: relative;
    margin-left: 25px;
}

.loader-pin::after {
    content: '';
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 50% 50% 0;
    border: 12px solid #d91616;
    background-color: #b50000;
    transform: rotate(45deg) translate(0, 0);
    box-sizing: border-box;
    animation: animMarker 0.4s ease-in-out infinite alternate;
}

.loader-pin::before {

    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150%;
    width: 24px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
    0% {
        transform: rotate(45deg) translate(5px, 5px);
    }

    100% {
        transform: rotate(45deg) translate(-5px, -5px);
    }
}

@keyframes animShadow {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.1);
    }
}

#joystick {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    background-color: #ffffff7e;
    backdrop-filter: blur(30px);
    border-radius: 50%;
    overflow: hidden;
}

#stick {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(102, 102, 102);
    border-radius: 50%;
    transform: translate(0, 0);
    transition: transform 0.1s ease-out;
}

@media(max-width: 900px) {
    #joystick {
        display: flex;
    }
}
